@tailwind base;
@tailwind components;
@tailwind utilities;

.vamp {
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.pokemon-card {
    position: relative;
    overflow: hidden;
    --gradient-color: rgba(255, 255, 255, 0.1);
}

.pokemon-card:hover::before {
    opacity: 1;
}

.pokemon-card::before {
    content: "";
    width: 100px;
    height: 100px;
    background: linear-gradient(
        145deg,
        rgb(var(--gradient-color-start)) 50%,
        rgb(var(--gradient-color-end)) 50%
    );
    border-radius: 50%;
    position: absolute;
    top: var(--mouse-y);
    left: var(--mouse-x);
    z-index: 0;
    opacity: 0;
    transform: translate(-50%, -50%) translateZ(0);
    filter: blur(70px);
    transition: opacity 300ms ease;
}

.pokemon-card a {
    position: relative;
    z-index: 5;
}
